// ==========================================================================
// DEFAULTS
// ==========================================================================


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


::selection {
    background: #1a1a1a;
    color: #f2f2f2;
    text-shadow: none;
}


body {
    font-size: $font-size-medium;
    font-family: $font-primary;
    color: $color-black;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: $font-size-large;
    display: block;
    margin: 0;
    padding: 0;
    line-height: $line-height-reset;
}


a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


p {
    font-size: $font-size-medium;
    line-height: $line-height-text;
    word-wrap: break-word;
    word-break: normal;
}


hr {
    border: 0;
    border-bottom: 1px solid #ccc;
}


img {
    vertical-align: top;
}


object[type="application/gas-events-cef"] {
    display: none;
}
