@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?iqkw5u');
	src:url('fonts/icomoon.eot?iqkw5u#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?iqkw5u') format('truetype'),
		url('fonts/icomoon.woff?iqkw5u') format('woff'),
		url('fonts/icomoon.svg?iqkw5u#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gerenciar_filtros:before {
	content: "\e900";
}
.icon-google_play:before {
	content: "\e901";
}

