<ul class="list-selectable list-selectable--border">
  <li class="list-selectable__item">Lorem ipsum dolor sit.</li>
  <li class="list-selectable__item is-selected">Lorem ipsum dolor sit ipsum dolor sit.</li>
  <li class="list-selectable__item">Lorem ipsum dolor sit.</li>
  <li class="list-selectable__item is-selected">Lorem ipsum dolor sit ipsum dolor sit.</li>
  <li class="list-selectable__item">Lorem ipsum dolor sit.</li>
  <li class="list-selectable__item">Lorem ipsum dolor sit.</li>
  <li class="list-selectable__item">Lorem ipsum dolor sit.</li>
  <li class="list-selectable__item is-selected">Lorem ipsum dolor sit ipsum dolor sit.</li>
  <li class="list-selectable__item">Lorem ipsum dolor sit.</li>
</ul>
