<div class="dropdown js-dropdown">
  <div class="dropdown__trigger">
    Todas
  </div>
  <div class="dropdown__container">
    <ul class="dropdown__list">
      <li class="dropdown__item"><a>Lorem ipsum.</a></li>
      <li class="dropdown__item"><a>Lorem ipsum.</a></li>
      <li class="dropdown__item"><a>Lorem ipsum dolor.</a></li>
      <li class="dropdown__item"><a>Lorem ipsum.</a></li>
      <li class="dropdown__item"><a>Lorem ipsum.</a></li>
    </ul>
  </div>
</div>
