<form class="form">
  <div class="form-component">
    <label class="input-text" for="campo0">
      Campo de texto 0
    </label>
    <input type="text" name="texto" id="campo0" placeholder="Insira aqui alguma coisa" />
  </div>
  <fieldset class="form-group">
    <div class="form-component">
      <label class="form-component__label" for="campo1">
        Campo de texto 1
      </label>
      <input type="text" name="texto" id="campo1" placeholder="Insira aqui alguma coisa" />
    </div>
    <div class="form-component">
      <label class="form-component__label" for="campo2">
        Campo de texto 2
      </label>
      <input type="text" name="texto" id="campo2" placeholder="Insira aqui alguma coisa" />
    </div>
  </fieldset>
  <fieldset class="form-group form-group--row">
    <div class="form-component form-component--column">
      <label class="form-component__label" for="campo3">
        Campo de texto 3
      </label>
      <input type="text" name="texto" id="campo3" placeholder="Insira aqui alguma coisa" />
    </div>
    <div class="form-component form-component--column">
      <label class="form-component__label" for="campo4">
        Campo de texto 4
      </label>
      <input type="text" name="texto" id="campo4" placeholder="Insira aqui alguma coisa" />
    </div>
  </fieldset>
  <fieldset class="form-group form-group--inline">
    <legend class="form-group__label">Escolha uma opção</legend>
    <div class="form-component">
      <label class="input-radio" for="inputRadioA">
        <input type="radio" name="radio" id="inputRadioA" />
        <span class="input-radio__token"></span>
        <span class="input-radio__label">Rádio de exemplo 1</span>
      </label>
    </div>
    <div class="form-component">
      <label class="input-radio" for="inputRadioB">
        <input type="radio" name="radio" id="inputRadioB" />
        <span class="input-radio__token"></span>
        <span class="input-radio__label">Rádio de exemplo 2</span>
      </label>
    </div>
  </fieldset>
  <div class="form-component">
    <label class="form-component__label" for="areaTexto">
      Área de texto
    </label>
    <textarea name="areaTexto" id="areaTexto" class="textarea" placeholder="Área de texto"></textarea>
  </div>
  <div class="form-component form-component--align-right">
    <button type="submit" class="button">Enviar</button>
  </div>
</form>
