<div class="form-group form-group--inline">
  <div class="form-component form-component--date">
    <button class="button button--icon js-date-trigger"><i class="icon-menulateral_agenda"></i></button>
    <input type="text" name="data" class="input-text js-date" placeholder="Data" disabled />
  </div>
  <div class="form-component form-component--datetime form-component--time">
    <button class="button button--icon"><i class="icon-relogio"></i></button>
    <input type="text" name="hora" class="input-text js-mask-hour" placeholder="Hora" />
  </div>
</div>
