<form class="form">
  <fieldset class="form-fieldset">
    <div class="form-group form-group--inline">
      <div class="form-component">
        <label class="input-radio" for="inputRadio1">
          <input type="radio" name="radio" id="inputRadio1" checked />
          <span class="input-radio__token"></span>
          <span class="input-radio__label">Rádio de exemplo 1</span>
        </label>
      </div>
      <div class="form-component">
        <label class="input-radio" for="inputRadio2">
          <input type="radio" name="radio" id="inputRadio2" />
          <span class="input-radio__token"></span>
          <span class="input-radio__label">Rádio de exemplo 2</span>
        </label>
      </div>
    </div>
  </fieldset>
</form>
