<form class="form">
  <div class="form-component">
    <label class="form-component__label" for="areaTextoA">
      <h3 class="heading heading--small">Área de texto</h3>
    </label>
    <textarea name="areaTexto" id="areaTextoA" class="textarea" placeholder="Área de texto"></textarea>
  </div>
</form>
