// ==========================================================================
// Settings
// ==========================================================================

//


$color-0: #1B1B1B;	// Main Primary color */
$color-1: #3B3A3C;
$color-2: #2B2B2B;
$color-3: #090909;
$color-4: #000000;


$font-size-body: 16px;


$color-heading--primary: $color-2;
$color-heading--secondary: $color-3;


$color-body-text-primary: #555;
$color-body-text-secondary: #666;


$color-code-top-border: $color-0;


$color-main-header-heading: $color-3;
$color-main-header-background: $color-1;


$color-main-footer-text: $color-4;
$color-main-footer-background: $color-1;


$size-sidebar-right-border: 5px;
$color-sidebar-background: $color-0;
$color-sidebar-right-border: $color-4;

$color-sidebar-nodes-background: $color-2;
$color-sidebar-nodes-text: $color-3;

$color-sidebar-childnodes-background: $color-3;
$color-sidebar-childnodes-text: #f2f2f2;
