@import "settings";


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.sgb-heading {
    margin: .8em 0 .2em;
    font-size: 1em;
}

    .sgb-heading--primary {
        font-size: 1.4em;
        color: $color-heading--primary;
    }

    .sgb-heading--secondary {
        font-size: 2em;
        margin-top: 1.2em;
        margin-bottom: .8em;
        text-transform: capitalize;
        color: $color-heading--secondary;
    }



.sgb-body-text {
    line-height: 1.25;
    margin: 0 0 .6em;
}

    .sgb-body-text--primary {
        font-size: 1em;
        color: $color-body-text-primary;
    }

    .sgb-body-text--secondary {
        font-size: .9em;
        color: $color-body-text-secondary;
    }



.sgb-wrapper {
    width: 100%;
    font-size: $font-size-body;
}

.sgb-container {
    display: flex;
    background-color: #fff;
}

.sgb-sidebar {
    background-color: $color-sidebar-background;
    height: 100vh;
    position: fixed;
    width: 14em;
    border-right: $size-sidebar-right-border solid $color-sidebar-right-border;
    overflow-y: auto;
}

    .sgb-sidebar__brand{
        padding: 2rem 15px;
        img {
            max-width: 100%;
            margin: auto;
            display: block;
        }
    }

    .sgb-sidebar__nodes {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .sgb-sidebar__nodes-item {
        margin: 1px 0;
    }

    .sgb-sidebar__nodes-header {
        background-color: $color-sidebar-nodes-background;
        display: block;
        padding: .6em 15px .75em;
        font-size: .8em;
        font-weight: bold;
        text-transform: capitalize;
        color: $color-sidebar-nodes-text;
    }

    .sgb-sidebar__nodes-header.is-link {
        &:hover,
        &.is-active {
            color: #fff;
            background-color: rgba($color-sidebar-nodes-background, .5);
        }
    }

    .sgb-sidebar__childnodes {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .sgb-sidebar__childnodes-item {}

    .sgb-sidebar__childnodes-link {
        text-transform: capitalize;
        display: block;
        padding: .5em 25px .65em;
        margin: 1px 0;
        font-size: .8em;
        color: $color-sidebar-nodes-background;
        background-color: rgba($color-sidebar-childnodes-background, .8);
        &:hover,
        &.is-active {
            color: $color-sidebar-childnodes-text;
            background-color: $color-sidebar-childnodes-background;
        }
        &.is-active {
            // font-weight: bold;
        }
    }

    .sgb-sidebar__footer {
        color: rgba(#000, .4);
        font-size: .7em;
        bottom: 0;
        width: 100%;
        text-align: right;
        padding: 15px;
    }


.sgb-main {
    width: calc(100% - 14em);
    min-height: 100vh;
    margin-left: 14em;
    display: flex;
    flex-direction: column;
}

    .sgb-main__header {
        height: 10em;
        background-color: $color-main-header-background;
        padding: 20px 40px;
        position: relative;
        text-transform: capitalize;
        flex-shrink: 0;
    }

    .sgb-main__header h1 {
        font-size: 4em;
        line-height: 1;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 30px;
        color: $color-main-header-heading;
    }

    .sgb-main__view {
        padding: 20px 40px;
        flex-grow: 1;
    }

    .sgb-main__view-description {
        margin-bottom: 40px;
    }

    .sgb-main__view-content {
        margin-bottom: 50px;
    }

    .sgb-main__view-component {
        padding: 1em 0;
    }

    .sgb-main__view-code {
        border-top: 2px solid $color-code-top-border;
    }

    .sgb-main_view-vtag {
        background-color: #666;
        color: #fff;
        border-radius: 4px;
        display: inline-block;
        font-size: .8em;
        padding: 2px 5px;
    }

    .sgb-main_view-download-button {
        font-size: 1em;
        color: $color-code-top-border;
        text-decoration: underline;
    }

    .sgb-main__footer {
        background-color: $color-main-footer-background;
        color: $color-main-footer-text;
        padding: 15px 20px;
        position: relative;
        font-size: .7em;
        text-align: right;
        flex-shrink: 0;
    }


.sgb-brand {
    padding: 1em;
    //display: inline-block;
    > img {
        max-height: 80px;
    }
}

.sgb-typo {
    padding: .75rem 0;
}

.sgb-color-pallete {
    padding: 1em 0;
    margin-bottom: -1rem;
}

    .sgb-color__card {
        display: inline-block;
        //border: 1px solid;
        text-align: center;
        margin-right: 1em;
        margin-bottom: 1rem;
    }

    .sgb-color__sample {
        width: 100px;
        height: 90px;
        margin: 0 auto;
    }

    .sgb-color__hex {
        color: #444;
        font-size: .8em;
        padding: .5em;
        border-bottom: 2px solid #ccc;
    }

    .sgb-color__description {
        color: #666;
        font-size: .7em;
        padding: .4em;
    }
