.avatar {
    display: inline-block;
    border-radius: $border-radius-rounded;
    overflow: hidden;
    width: 2rem;
    height: 2rem;

    > img {
        width: 100%;
    }

    + .avatar {
        margin-left: .6rem;
    }
}

.avatar--small {
    width: 1.5rem;
    height: 1.5rem;
}


.avatar--large {
    width: 2.5rem;
    height: 2.5rem;
}
