// ==========================================================================
// Badge
// ==========================================================================

.badge {
    padding: .2rem .6rem;
    font-size: $font-size-smaller;
    color: $color-white;
    border-radius: $border-radius-pill;
    background-color: $color-main;
    + .badge {
        margin-left: .4rem;
    }
}

.badge--danger {
    background-color: $color-danger;
}

.badge--small {
    padding: 2px 3px 1px;
    font-size: 12px;
    line-height: 1;
}
