// ==========================================================================
// .button
// ==========================================================================

.button {
    @include resetButton;
    font-weight: $font-weight-regular;
    font-size: $font-size-small;
    color: $color-white;
    background-color: $color-main;
    border-radius: $border-radius-medium;
    position: relative;
    transition: all .4s cubic-bezier(0.2, 1, 0.3, 1);

    &.is-disabled,
    &:disabled {
        background-color: $color-theme-8;
        &:hover {
            background-color: $color-theme-8;
        }
    }

    + .button {
        margin-left: .6rem;
    }

    &:hover {
        background-color: #6c9fb3;
    }

    &:active {
        background-color: #4f6f7c;
    }
}

.button__icon {}


//
// Modifyers
// ==========================================================================


.button--inverse {
    color: $color-main;
    background-color: $color-white;
}


.button--alternative {
    background-color: $color-alternative;
    &:hover {
        background-color: #6c9fb3;
    }
}


.button--secondary {
    font-size: $font-size-smaller;
    padding: .5rem .95rem;
}


.button--icon {
    font-size: $font-size-smaller;
    padding: .4rem .6rem;
    //border: 1px solid $color-main;
}


.button--rounded {
    border-radius: $border-radius-rounded;
    padding: 0;
    width: 1.4rem;
    height: 1.4rem;
}


.button--rounded-large {
    border-radius: $border-radius-rounded;
    padding: 0;
    width: 2rem;
    height: 2rem;
}


.button--bare {
    color: $color-main;
    background-color: transparent;
    padding: .2rem .5rem;
    //border: 1px solid;
    > .button__icon {
        &:before {
            font-size: $font-size-larger;
        }
        &.button__icon--small:before {
            font-size: $font-size-xsmall;
        }
    }

    &:hover {
        color: #6c9fb3;
        background-color: transparent;
    }
}

.has-badge {
    position: relative;
    .badge {
        position: absolute;
        top: -2px;
        right: -2px;
    }
}
