// ==========================================================================
// .heading
// ==========================================================================


.heading {
    margin: .2rem 0 .4rem;
    padding: 0;
    line-height: $line-height-heading;
    font-size: $font-size-xlarge;
    color: $color-alternative;
}


//
// Modifyers
// ==========================================================================


.heading--larger {
    font-size: $font-size-larger;
}


.heading--large {
    font-size: $font-size-large;
}


.heading--medium {
    font-size: $font-size-medium;
}


.heading--normal {
    font-size: $font-size-default;
}


.heading--small {
    font-size: $font-size-small;
}


.heading--smaller {
    font-size: $font-size-smaller;
}
