
.input-text,
.textarea {
    @include resetFormInput;
//    margin-bottom: .4rem;
    width: 100%;
    outline: none;
    color: $color-main;

    &:disabled {
        background-color: rgba($color-theme-7, .4);
    }

    &.is-filled,
    &:hover,
    &:focus {
        border-color: $color-main;
    }
}


.textarea {
    height: 8rem;
}

.form-group.form-group--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    .form-component {
        display: inline-block;
        display: flex;
        + .form-component {
            margin: .4rem 0 0 .5rem;
        }
    }
}

.form-group--flex {
    display: flex;
}


.form-component {
    position: relative;
    + .form-component {
        margin: .4rem 0;
    }
}

.form-component__icon-overlay {
    position: absolute;
    display: block;
    vertical-align: middle;
    padding: .4rem 0;
    right: .6rem;
    color: $color-theme-8;
    ~ input {
        padding: .4rem 1.6rem .4rem .6rem;
    }
}


.form-component--date,
.form-component--time {
    display: table;
    display: flex;
    > :first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .input-text {
        max-width: 92px;
        width: auto;
    }
}

.form-component--time {
    .input-text {
        max-width: 56px;
        width: auto;
    }
}



fieldset.form-fieldset {
    padding: .4rem .6rem;
    border: 0;
}

.form-component__label,
.form-component__label .heading {
    color: $color-main;
}


.input-checkbox {
    display: inline-block;
    line-height: 0;
    cursor: pointer;
    input[type="checkbox"] {
        display: none;
    }
}

input[type="checkbox"]:checked + .input-checkbox__token:before {
    display: block;
}

input[type="checkbox"]:checked + .input-checkbox__token--switch:before {
    transform: translateX(100%);
}

input[type="checkbox"]:checked + .input-checkbox__token--switch {
    background-color: $color-success;
}



input[type="checkbox"]:checked ~ .input-checkbox__label {
    color: $color-main;
}

.input-checkbox__token {
    @extend .icon;
    @extend .icon-check;
    width: 17px;
    height: 16px;
    display: inline-block;
    border: 2px solid $color-theme-8;
    border-radius: $border-radius-medium;
    font-size: .48rem;
    text-align: center;
    color: $color-main;
    vertical-align: middle;
    &:before {
        display: none;
        margin-top: 1px;
        line-height: 1.6;
        transition: all .4s cubic-bezier(0.2, 1, 0.3, 1);
    }
}

.input-checkbox__label {
    font-size: $font-size-smaller;
    text-align: center;
    vertical-align: middle;
    color: $color-alternative;
}


.input-checkbox__token--switch {
    background-color: $color-theme-8;
    box-shadow: inset 0px 0px 10px 0px rgba($color-black, .3);
    border-color: transparent;
    border: 0;
    width: 28px;
    height: 16px;
    border-radius: $border-radius-large;
    position: relative;
    transition: all .4s cubic-bezier(0.2, 1, 0.3, 1);
    &:before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        margin: auto;
        position: absolute;
        top: 2px;
        left: 2px;
        background-color: $color-theme-12;
        border-radius: $border-radius-rounded;
        border: 1px solid $color-white;
        box-shadow: inset 0px 0px 2px 0px rgba($color-black, .2);
        transform: translateX(0%);
    }
}

.input-checkbox--attention,
.input-checkbox--danger,
.input-checkbox--success {
    padding: .25rem .25rem;
    border-radius: $border-radius-small;
}


.input-checkbox--attention {
    background-color: $color-attention;
    .input-checkbox__token {
        border-color: $color-attention;
        background-color: $color-white;
    }
}


.input-checkbox--danger {
    background-color: $color-danger;
    .input-checkbox__token {
        @extend .icon-close;
        border-color: $color-danger;
        background-color: $color-white;
        &:before {
            margin-left: 0;
        }
    }
}

.input-checkbox--success {
    background-color: $color-success;
    .input-checkbox__token {
        border-color: $color-success;
        background-color: $color-white;
    }
}


.input-radio {
    display: inline-block;
    line-height: 0;
    cursor: pointer;
    input[type="radio"] {
        display: none;
    }
}

input[type="radio"]:checked + .input-radio__token:before {
    display: block;
}

input[type="radio"]:checked ~ .input-radio__label {
    color: $color-main;
}


.input-radio__token {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 2px solid $color-theme-8;
    border-radius: $border-radius-medium;
    font-size: .45rem;
    text-align: center;
    color: $color-main;
    border-radius: $border-radius-rounded;
    vertical-align: middle;
    &:before {
        content: "";
        display: none;
        width: 8px;
        margin: auto;
        position: relative;
        height: 8px;
        top: 2px;
        background-color: $color-main;
        border-radius: $border-radius-rounded;
        transition: all .4s cubic-bezier(0.2, 1, 0.3, 1);
    }
}

.input-radio__label {
    font-size: $font-size-smaller;
    text-align: center;
    vertical-align: middle;
    color: $color-alternative;
}
