// ==========================================================================
// .media
// ==========================================================================

.media {
    //width: 40%;
    display: flex;
}
    .media__figure {
        float: left;
        width: 28px;
        height: 28px;
        overflow: hidden;
        margin-right: 6px;
        border-radius: 100%;
        border: 2px solid $color-white;
        img {
            height: 100%;
        }
    }
    .media__body {

        p {
            margin: 0;
            // padding: 0;
        }
    }
