// ==========================================================================
// Tag
// ==========================================================================

.tag-pill {
    padding: .26rem .4rem .2rem;
    font-size: $font-size-small;
    border-radius: $border-radius-small;
    color: $color-white;
    background-color: $color-main;
    + .tag-pill {
        margin-left: .4rem;
    }
}

.tag-pill--status {
    width: $font-size-smaller;
    height: $font-size-smaller;
    display: inline-block;
    border-radius: $border-radius-rounded;
    padding: 0;
}


.tag-pill__label {
    display: inline-block;
}


.tag-pill__button {
    color: $color-white;
    padding: 0;
    vertical-align: top;
    display: inline-block;
    margin-top: 1px;
    margin-left: .2rem;
}


.tag-pill--danger {
    background-color: $color-danger;
}

.tag-pill--attention {
    background-color: $color-attention;
}

.tag-pill--info {
    background-color: $color-neutral;
}

.tag-pill--success {
    background-color: $color-success;
}

.tag-pill--secondary {
    background-color: $color-alternative;
}
