<table class="table">
  <thead>
    <tr class="table__header">
      <th scope="col">
        <span class="h-truncate">Nome</span>
      </th>
      <th scope="col">
        <span class="h-truncate">Marca</span>
      </th>
      <th scope="col">
        <span class="h-truncate">Ano</span>
      </th>
      <th scope="col">
        <span class="h-truncate">Status</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__row">
      <th data-label="Nome" role="row">
        <span class="h-truncate">
          New Fiesta
        </span>
      </th>
      <td data-label="Marca">
        <span class="h-truncate">
          Ford
        </span>
      </td>
      <td data-label="Ano">
        <span class="h-truncate">
          2015
        </span>
      </td>
      <td data-label="Status">
        <span class="h-truncate">
          Vendido
        </span>
      </td>
    </tr>
    <tr class="table__row">
      <th data-label="Nome" role="row">
        <span class="h-truncate">
          Focus
        </span>
      </th>
      <td data-label="Marca">
        <span class="h-truncate">
          Ford
        </span>
      </td>
      <td data-label="Ano">
        <span class="h-truncate">
          2012
        </span>
      </td>
      <td data-label="Status">
        <span class="h-truncate">
          Em estoque
        </span>
      </td>
    </tr>
    <tr class="table__row">
      <th data-label="Nome" role="row">
        <span class="h-truncate">
          HB20
        </span>
      </th>
      <td data-label="Marca">
        <span class="h-truncate">
          Hyundai
        </span>
      </td>
      <td data-label="Ano">
        <span class="h-truncate">
          2014
        </span>
      </td>
      <td data-label="Status">
        <span class="h-truncate">
          Em manutenção
        </span>
      </td>
    </tr>
  </tbody>
</table>
