// ==========================================================================
// Colors
// ==========================================================================


// Cores Principais
$color-white: #FFF;
$color-black: #1C1C1C;


// Cores Principais
$color-main: #628A9A;
$color-alternative: #7F7F7F;
$color-body-text: $color-alternative;


// Cores para Respostas
$color-danger: #DB7560;
$color-attention: #D9C26C;
$color-neutral: #65ABD0;
$color-success: #24AA98;


// Cores dos Temas
$color-theme-1: #628A9A;
$color-theme-2: #629A98;
$color-theme-3: #9A6272;
$color-theme-4: #9A6288;
$color-theme-5: #9A968D;
$color-theme-6: #6B6B6B;
$color-theme-7: #E6EEEC;
$color-theme-8: #CCCCCC;
$color-theme-9: #DDDDDD;
$color-theme-10: #E6EEEC;
$color-theme-11: #FFFEE4;
$color-theme-12: #F2FAF8;
