// ==========================================================================
// Font settings
// ==========================================================================


// Family
$font-primary: 'Roboto', sans-serif;


// Sizes
$font-size-base: 16px;

$font-size-text-body: pxToRem(15px);

$font-size-xsmall: pxToRem(11px);
$font-size-smaller: pxToRem(13px);
$font-size-small: pxToRem(15px);
$font-size-default: pxToRem($font-size-base);
$font-size-medium: pxToRem(18px);
$font-size-large: pxToRem(20px);
$font-size-larger: pxToRem(24px);
$font-size-xlarge: pxToRem(28px);



// Weights
$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;


// Line heights
$line-height-zero: 0;
$line-height-reset: 1;
$line-height-heading: 1.25;
$line-height-text: 1.2;
$line-height-extra: 2;
