// ==========================================================================
// Media queries
// ==========================================================================

$mediaq-small: only screen and (max-width: 47.9375em);

$mediaq-medium: only screen and (min-width: 48em);

$mediaq-medium-landscape: only screen and (min-width: 48em) and (min-aspect-ratio: 4/3);

$mediaq-large: only screen and (min-width: 64.0625em);
