<nav role="navigation">
  <p id="caminhoDeMigalhas" class="assistive-text">Você está aqui:</p>
  <ul class="breadcrumb" aria-labelledby="caminhoDeMigalhas">
    <li class="breadcrumb__item">
      <a href="#">
        <span class="assistive-text">Início</span>
        <i class="icon-breadcrum_home"></i>
      </a>
    </li>
    <li class="breadcrumb__item">
      <a href="#">
        Página anterior
      </a>
    </li>
    <li class="breadcrumb__item is-current">
      <a href="#">
        Página atual
      </a>
    </li>
  </ul>
</nav>
