// ==========================================================================
// Accessibility helpers
// Both keeps the text visible for the DOM but hidden visually
// ==========================================================================

.assistive-text {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
