// ==========================================================================
// Mixins
// ==========================================================================


@mixin resetList {
    padding: 0;
    margin: 0;
    list-style: none;
}


@mixin emptyPseudo {
    content: "";
    display: inline-block;
}


@mixin resetFormInput {
    border: 1px solid $color-theme-8;
    margin: 0;
    padding: .4rem .6rem;
    list-style: none;
    font-size: $font-size-smaller;
    color: $color-alternative;

    &::-webkit-input-placeholder {
        color: $color-theme-5;
        font-style: italic;
    }
    &::-moz-placeholder {
        color: $color-theme-5;
        font-style: italic;
    } /* firefox 19+ */
    &:-ms-input-placeholder {
        color: $color-theme-5;
        font-style: italic;
    } /* ie */
    &input:-moz-placeholder {
        color: $color-theme-5;
        font-style: italic;
    }
}


@mixin resetButton {
    border: 0;
    background: transparent;
    position: relative;
    padding: .6rem 1.2rem .55rem;
    display: inline-block;
    outline: none;
    text-align: center;
    line-height: $line-height-reset;
    vertical-align: middle;
}
