<div class="tabs js-tabs">
  <ul class="tabs__nav" role="tablist">
    <li class="tabs__nav-item is-active" title="Aba 01" role="presentation">
      <a role="tab" tabindex="0" aria-selected="true" aria-controls="tabOne">
        Aba 01
      </a>
    </li>
    <li class="tabs__nav-item" title="Aba 02" role="presentation">
      <a role="tab" tabindex="-1" aria-selected="false" aria-controls="tabTwo">
        Aba 02
      </a>
    </li>
    <li class="tabs__nav-item" title="Aba 03" role="presentation">
      <a role="tab" tabindex="-1" aria-selected="false" aria-controls="tabThree">
        Aba 03
      </a>
    </li>
  </ul>
  <div id="tabOne" class="tabs__content is-visible" role="tabpanel">
    <p class="text-body">Conteúdo da aba 01</p>
  </div>
  <div id="tabTwo" class="tabs__content" role="tabpanel">
    <p class="text-body">Conteúdo da aba 02</p>
  </div>
  <div id="tabThree" class="tabs__content" role="tabpanel">
    <p class="text-body">Conteúdo da aba 03</p>
  </div>
</div>
