<span class="tag-pill">
  <span class="tag-pill__label">Tag XYZ</span>
</span>

<span class="tag-pill">
  <a href="#" class="tag-pill__label">Tag XYZ</a>
</span>

<span class="tag-pill">
  <a href="#" class="tag-pill__label">Tag XYZ</a>
  <button class="button button--icon button--bare tag-pill__button">
    <i class="icon-close button__icon button__icon--small" aria-hidden="true"></i>
    <span class="assistive-text">Remover</span>
  </button>
</span>
