<footer class="footer" role="contentinfo">
  <div class="footer__brand">
    <img src="http://catarinasdesign.com.br/dev/0800/media/ellevo_logo_branco.png" alt="">
  </div>
  <div class="footer__options">
    <ul class="footer__nav">
      <li class="footer__nav-item">
        <a href="">
          Baixar na Apple Store
        </a>
      </li>
      <li class="footer__nav-item">
        <a href="">
          Baixar no Google Play
        </a>
      </li>
      <li class="footer__nav-item">
        <a href="">Sobre</a>
      </li>
      <li class="footer__nav-item">
        <a href="">Privacidade</a>
      </li>
      <li class="footer__nav-item">
        <a href="">Suporte</a>
      </li>
    </ul>
  </div>
</footer>
