// ==========================================================================
// Sass @import's
// ==========================================================================

@import 'utils/helpers';
@import 'utils/accessibility';
@import 'utils/functions';
@import 'utils/mixins';

@import 'settings/colors';
@import 'settings/font';
@import 'settings/media-query';
@import 'settings/miscellaneous';

@import 'generic/pikaday';
@import 'generic/normalize';
@import 'generic/defaults';
@import 'generic/icons';

@import 'objects/heading';
@import 'objects/text-body';
@import 'objects/button';
@import 'objects/badge';
@import 'objects/tag-pill';
@import 'objects/avatar';

@import 'objects/input-text';

@import 'components/header';
@import 'components/breadcrumb';
@import 'components/notification';
@import 'components/tabs';
@import 'components/table';
@import 'components/sidebar';
@import 'components/accordion';
@import 'components/dropdown';
@import 'components/tooltip';

// @import 'objects/media';


// @import 'template/tmpl-wrapper';
// @import 'template/tmpl-header';
// @import 'template/tmpl-content';
// @import 'template/tmpl-footer';
// @import 'template/tmpl-nav';
//
//
// @import 'components/content-header';
// @import 'components/button-group';
// @import 'components/forms';
// @import 'components/agenda';
// @import 'components/agenda-selector';


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}
