<nav class="sidebar" role="navigation">
  <ul class="sidebar__list">
    <li class="sidebar__item is-active">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_correio"></i>
        </button>
        <span class="sidebar__item-label">Correio</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_chamado"></i>
        </button>
        <span class="sidebar__item-label">Chamados</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_tarefas"></i>
        </button>
        <span class="sidebar__item-label">Tarefas</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_aprovacao"></i>
        </button>
        <span class="sidebar__item-label">Aprovação</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large has-badge" aria-hidden="true">
          <i class="icon-menulateral_crm"></i>
          <span class="badge badge--danger badge--small">8</span>
        </button>
        <span class="sidebar__item-label">CRM</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_projetos"></i>
        </button>
        <span class="sidebar__item-label">Projetos</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_contratos"></i>
        </button>
        <span class="sidebar__item-label">Contratos</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_solucoes"></i>
        </button>
        <span class="sidebar__item-label">Soluções</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_agenda"></i>
        </button>
        <span class="sidebar__item-label">Agenda</span>
      </a>
    </li>
  </ul>
</nav>

<nav class="sidebar is-collapsed" role="navigation">
  <ul class="sidebar__list">
    <li class="sidebar__item is-active">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_correio"></i>
        </button>
        <span class="sidebar__item-label">Correio</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_chamado"></i>
        </button>
        <span class="sidebar__item-label">Chamados</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_tarefas"></i>
        </button>
        <span class="sidebar__item-label">Tarefas</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_aprovacao"></i>
        </button>
        <span class="sidebar__item-label">Aprovação</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_crm"></i>
        </button>
        <span class="sidebar__item-label">CRM</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_projetos"></i>
        </button>
        <span class="sidebar__item-label">Projetos</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_contratos"></i>
        </button>
        <span class="sidebar__item-label">Contratos</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_solucoes"></i>
        </button>
        <span class="sidebar__item-label">Soluções</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">
        <button class="button button--icon button--rounded-large" aria-hidden="true">
          <i class="icon-menulateral_agenda"></i>
        </button>
        <span class="sidebar__item-label">Agenda</span>
      </a>
    </li>
  </ul>
</nav>
