<button class="button button--icon button--rounded js-tooltipInfo" data-tooltip-target="informacoes" aria-haspopup="true" >
  <i class="icon-interoogacao button__icon" aria-hidden="true"></i>
  <span class="assistive-text">Botão arredondado sem label</span>
</button>

<span class="tooltip-info" id="informacoes" role="tooltip">
  <p class="text-body">Tooltip com<br>conteúdo diverso</p>
</span>
