// ==========================================================================
// .tmpl-footer
// ==========================================================================

.tmpl-footer {
    background-color: $color-primary;
    padding: .6rem 1.5rem;
    width: 100%;
    font-size: .65rem;
    color: $color-white;
}


//
// Children
// ==========================================================================

.tmpl-footer-credits {
    float: right;
}
