// ==========================================================================
// .tmpl-nav
// ==========================================================================

.tmpl-navlist {
    @include resetList;
    display: inline-block;
}


    .tmpl-navlist__item {
        display: inline-block;
    }


//
// Modifyers
// ==========================================================================
