// ==========================================================================
// .tmpl-header
// ==========================================================================

.tmpl-header {
    background-color: $color-primary;
    padding: .25rem 1.5rem;
}

    .tmpl-header__brand {
        float: left;
        margin: 0;
        padding: 0;
        img {
            max-height: 42px;
        }
    }

    .tmpl-header__nav {
        float: right;
        > ul { vertical-align: sub; } // no-flexbox fallback
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tmpl-header__user {
        display: inline-block;
    }


//
// Modifyers
// ==========================================================================
