// ==========================================================================
// .tmpl-content
// ==========================================================================

.tmpl-content {
    background-color: $color-white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
