<div class="accordion js-accordion" role="tablist" aria-multiselectable="true">
  <div class="accordion__item is-active">
    <div class="accordion__header" title="Accordion 01" role="presentation">
      <a role="tab" aria-expanded="true" aria-controls="accordionContentOne">
        Accordion 01

        <button class="button button--inverse button--icon button--rounded f-float-right">
          <i class="icon-mais button__icon" aria-hidden="true"></i>
          <span class="assistive-text">Botão arredondado sem label</span>
        </button>
        <button class="button button--inverse button--icon button--rounded f-float-right">
          <i class="icon-accordeon_menos button__icon" aria-hidden="true"></i>
          <span class="assistive-text">Botão arredondado sem label</span>
        </button>
      </a>
    </div>
    <div id="accordionContentOne" class="accordion__body" role="tabpanel">
      <p class="text-body">Conteúdo do accordion 01</p>
    </div>
  </div>
  <div class="accordion__item">
    <div class="accordion__header" title="Accordion 02" role="presentation">
      <a role="tab" aria-expanded="false" aria-controls="accordionContentTwo">
        Accordion 02

        <button class="button button--inverse button--icon button--rounded f-float-right">
          <i class="icon-mais button__icon" aria-hidden="true"></i>
          <span class="assistive-text">Botão arredondado sem label</span>
        </button>
        <button class="button button--inverse button--icon button--rounded f-float-right">
          <i class="icon-accordeon_menos button__icon" aria-hidden="true"></i>
          <span class="assistive-text">Botão arredondado sem label</span>
        </button>
      </a>
    </div>
    <div id="accordionContentTwo" class="accordion__body" role="tabpanel">
      <p class="text-body">Conteúdo do accordion 02</p>
    </div>
  </div>
  <div class="accordion__item">
    <div class="accordion__header" title="Accordion 03" role="presentation">
      <a role="tab" aria-expanded="false" aria-controls="accordionContentThree">
        Accordion 03

        <button class="button button--inverse button--icon button--rounded f-float-right">
          <i class="icon-mais button__icon" aria-hidden="true"></i>
          <span class="assistive-text">Botão arredondado sem label</span>
        </button>
        <button class="button button--inverse button--icon button--rounded f-float-right">
          <i class="icon-accordeon_menos button__icon" aria-hidden="true"></i>
          <span class="assistive-text">Botão arredondado sem label</span>
        </button>
      </a>
    </div>
    <div id="accordionContentThree" class="accordion__body" role="tabpanel">
      <p class="text-body">Conteúdo do accordion 03</p>
    </div>
  </div>
</div>
