.accordion {
    width: 100%;
}


.accordion__item {
    margin: .2rem 0;
    overflow: hidden;
    &.is-active {
        .accordion__body {
            height: 100px;
        }

            .button:first-of-type {
                display: none;
            }

        .button:last-of-type {
            display: inline-block;
        }

    }
}


.accordion__header {
    background-color: $color-main;
    font-size: $font-size-default;
    font-weight: $font-weight-bold;
    color: $color-white;
    border-bottom: 1px solid $color-main;

    a {
        display: block;
        padding: .6rem 1.2rem .4rem;
    }

    .button {
        margin-top: -3px;
    }

    .button:last-of-type {
        display: none;
    }

    .button:first-of-type {
        display: inline-block;
        i {
            margin-top: 1px;
            display: block;
        }
    }
}


.accordion__body {
    height: 0px;
    transition: all .4s cubic-bezier(0.2, 1, 0.3, 1);
    p {
        padding: 1rem 1.2rem;
    }
}
