// ==========================================================================
// Breadcrumb
// ==========================================================================

.breadcrumb {
    @include resetList;
    border-bottom: 1px solid $color-theme-8;
    padding: .4rem 0 .2rem;
}

.breadcrumb__item {
    display: inline-block;
    font-size: $font-size-smaller;
    color: $color-theme-5;

    i:before {
        color: $color-main;
        font-size: $font-size-xsmall;
    }

    &:before {
        content: ">";
        font-weight: $font-weight-bold;
        color: $color-theme-5;
    }

    &:first-child:before {
        display: none;
    }

    &.is-current {
        color: $color-main;
    }

}
