// ==========================================================================
// .button-group
// ==========================================================================

.button-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .button {
        margin: 0 .2rem;
    }
}


//
// Modifyers
// ==========================================================================
