// ==========================================================================
// Content header
// ==========================================================================

.content-header {
  display: table; // ie ie fallback
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.6rem 1.5rem;
  border-bottom: 2px solid $color-primary;
  background-color: $color-gray-light;

  > div {
    display: table-cell; // ie fallback
  }
}
