.dropdown-combo {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.dropdown-combo__trigger {
    cursor: pointer;
}

.dropdown-combo__container {
    min-width: 240px;
    width: 100%;
    position: absolute;
    top: 0;
    left: calc(100% + 2px);
    border: 1px solid $color-theme-8;
    background-color: $color-white;
    overflow: hidden;

    width: 0;
    height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;

    transition: opacity .4s cubic-bezier(0.2, 1, 0.3, 1);

    &:before {
        content: "";
    }

    &.is-open {
        width: auto;
        height: auto;
        padding: .6rem;
        visibility: visible;
        opacity: 1;
    }
}


.dropdown-combo__body {
    overflow-y: scroll;
    margin-top: .6rem;
    max-height: 180px;
    border: 1px solid $color-theme-8;
}










.dropdown {
    display: inline-block;
    position: relative;
    white-space: nowrap;

    &.is-open {
        .dropdown__trigger {
            @extend .icon-chev_up;
        }
        .dropdown__container {
            width: auto;
            height: auto;
            opacity: 1;
            visibility: visible;
        }
    }
}

.dropdown__trigger {
    border: 1px solid $color-theme-8;
    padding: .3rem 1.4rem .3rem .5rem;
    border-bottom: 1px solid $color-theme-8;
    font-size: $font-size-smaller;
    color: $color-alternative;
    position: relative;
    cursor: pointer;
    margin-bottom: -1px;

    @extend .icon-chev_down;

    &:before {
        @extend .icon;
        position: absolute;
        right: .42rem;
        font-size: .4rem;
        top: .6rem;
    }
}

.dropdown__container {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid $color-theme-8;
    background-color: $color-white;
    overflow: hidden;
    padding: 0;

    width: 0;
    height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;

    // width: auto;
    // height: auto;
    // opacity: 1;
    // visibility: visible;


    transition: opacity .4s cubic-bezier(0.2, 1, 0.3, 1);

    &:before {
        content: "";
    }
}


.dropdown__list {
    @include resetList;
}

.dropdown__item {
    border: 1px solid $color-theme-8;
    font-size: $font-size-smaller;
    color: $color-alternative;
    position: relative;
    cursor: pointer;
    margin: -1px;

    a {
        padding: .3rem .5rem;
        display: block;
        border: 1px solid transparent;
    }

    &:hover a {
        // /margin: 0;
        color: $color-main;
        border-color: $color-main;
    }
}










.list-selectable {
    @include resetList;
}

.list-selectable--border {
    border: 1px solid $color-theme-8;
}

.list-selectable__item {
    padding: .5rem 1.7rem .5rem .5rem;
    border-bottom: 1px solid $color-theme-8;
    font-size: $font-size-smaller;
    color: $color-alternative;
    position: relative;
    cursor: pointer;

    &:last-child {
        border: 0;
    }

    &.is-selected,
    &:hover {
        color: $color-white;
        background-color: $color-alternative;
    }

    @extend .icon-check;

    &:before {
        @extend .icon;
        display: none;
        right: .5rem;
        top: .7rem;
        font-size: .6rem;
    }

    &.is-selected:before {
        display: inline-block;
        right: .5rem;
        position: absolute;
    }

}
