.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba($color-black, .2);
}

.header__brand {
    margin-right: auto;
    margin-left: 1rem;
    > img {
        max-height: 2rem;
    }
}

.header__actions {
    display: flex;
    align-items: center;
    form {
        margin-right: .2rem;
    }
    .button {
        margin-left: .2rem;
    }
    .avatar {
        margin-left: .6rem;
    }
}


.footer {
    display: flex;
    background-color: $color-main;
    padding: .4rem 1rem .6rem;
}

.footer__brand {
    > img {
        max-height: 1.35rem;
    }
}

.footer__options {
    margin-left: auto;
    display: flex;
}

.footer__nav {
    @include resetList;
    display: flex;
    align-items: center;
}

.footer__nav-item {

    a {
        color: $color-white;
        font-size: $font-size-xsmall;
        i {
            font-size: $font-size-small;
            margin-right: .35rem;
        }
    }

    + .footer__nav-item {
        margin-left: .6rem;
        &:before {
            @include emptyPseudo;
            height: .5rem;
            padding-left: .6rem;
            vertical-align: middle;
            border-left: 1px solid $color-white;
        }
    }
}
