
.tooltip {
    background-color: #444;
    color: #fff;
    width: auto;
    visibility: hidden;
    opacity: 0;
    top: -900px;
    left: -900px;
    position: fixed;
    z-index: 1000;
    background-color: $color-white;
    color: $color-alternative;
    border: 1px solid $color-main;
    padding: .2rem .4rem .1rem;
    font-size: $font-size-xsmall;
    box-shadow: 0px 1px 4px rgba($color-black, .2);
    transition: opacity .4s cubic-bezier(0.2, 1, 0.3, 1);
}

.tooltip-info {
    background-color: #444;
    color: #fff;
    width: auto;
    visibility: hidden;
    opacity: 0;
    top: -900px;
    left: -900px;
    position: fixed;
    z-index: 1000;
    background-color: $color-white;
    color: $color-alternative;
    border: 1px solid $color-main;
    padding: 0 .5rem;
    font-size: $font-size-xsmall;
    box-shadow: 0px 1px 4px rgba($color-black, .2);
    transition: opacity .4s cubic-bezier(0.2, 1, 0.3, 1);
}

.tooltip-mock {
    background-color: #444;
    color: #fff;
    width: auto;
    visibility: visible;
    top: -900px;
    left: -900px;
    background-color: $color-white;
    color: $color-alternative;
    border: 1px solid $color-main;
    padding: .2rem .4rem .1rem;
    font-size: $font-size-xsmall;
    box-shadow: 0px 1px 4px rgba($color-black, .2);
}


.tooltip--danger {
    border: 1px solid $color-danger;
}

.tooltip--attention {
    border: 1px solid $color-attention;
}

.tooltip--success {
    border: 1px solid $color-success;
}
