<h3 class="heading">Cabeçalho padrão</h3>
<h3 class="heading heading--larger">Cabeçalho muito grande</h3>
<h3 class="heading heading--large">Cabeçalho grande</h3>
<h3 class="heading heading--medium">Cabeçalho médio</h3>
<h3 class="heading heading--normal">Cabeçalho normal</h3>
<h3 class="heading heading--small">Cabeçalho pequeno</h3>
<h3 class="heading heading--smaller">Cabeçalho muito pequeno</h3>
