<button class="button">
  <i class="icon-menulateral_agenda button__icon" aria-hidden="true"></i>
  Com ícone a esquerda
</button>
<button class="button">
  Com ícone a direita
  <i class="icon-lixeira button__icon" aria-hidden="true"></i>
</button>
