<button class="button button--secondary">Botão padrão</button>
<button class="button button--secondary button--alternative">Botão alternativo</button>
<button class="button button--secondary" disabled>Botão desativado</button>
