<button class="button button--icon">
  <i class="icon-menulateral_agenda button__icon" aria-hidden="true"></i>
  <span class="assistive-text">Botão padrão sem label</span>
</button>
<button class="button button--icon button--rounded">
  <i class="icon-interoogacao button__icon" aria-hidden="true"></i>
  <span class="assistive-text">Botão arredondado sem label</span>
</button>
<button class="button button--icon button--rounded-large">
  <i class="icon-menulateral_correio button__icon" aria-hidden="true"></i>
  <span class="assistive-text">Botão arredondado sem label</span>
</button>
<button class="button button--icon button--bare">
  <i class="icon-settings button__icon" aria-hidden="true"></i>
  <span class="assistive-text">Botão sem bordas, sem label e sem cor de fundo</span>
</button>
