<header class="header" role="banner">
  <button class="button button--icon button--bare">
    <i class="icon-menu button__icon" aria-hidden="true"></i>
    <span class="assistive-text">Abrir menu</span>
  </button>
  <div class="header__brand">
    <img src="http://catarinasdesign.com.br/dev/0800/media/0800_logo_padrao.png" alt="Logo da empresa">
  </div>
  <div class="header__actions">
    <form class="form">
      <div class="form-component">
        <label class="form-component__label" for="busca">
          <span class="assistive-text">Campo de busca</span>
        </label>
        <span class="form-component__icon-overlay" aria-hidden="true">
          <i class="icon-search"></i>
        </span>
        <input type="text" name="busca" id="busca" class="input-text" placeholder="Pesquisar" />
      </div>
    </form>
    <button class="button button--icon button--bare has-badge">
      <i class="icon-notificacoes button__icon" aria-hidden="true"></i>
      <span class="badge badge--danger badge--small">8</span>
      <span class="assistive-text">Notificações</span>
    </button>
    <button class="button button--icon button--bare">
      <i class="icon-settings button__icon" aria-hidden="true"></i>
      <span class="assistive-text">Configurações</span>
    </button>
    <span class="avatar avatar--large">
      <img src="http://placehold.it/60x60" alt="Foto do usuário">
    </span>
  </div>
</header>
