<div class="notify" role="alert">
  <span class="assistive-text">Notificação</span>
  <button class="button button--bare notify__close">
    <i class="icon-close button__icon button__icon--small" aria-hidden="true"></i>
    <span class="assistive-text">Fechar</span>
  </button>
  <h2 class="heading heading--small">Título da notificação padrão!</h2>
  <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eaque accusantium temporibus error nam explicabo voluptate vero sint non est illo molestias consequatur libero dolorum, amet distinctio repudiandae officiis ab.</p>
</div>

<div class="notify notify--danger" role="alert">
  <span class="assistive-text">Notificação</span>
  <button class="button button--bare notify__close">
    <i class="icon-close button__icon button__icon--small" aria-hidden="true"></i>
    <span class="assistive-text">Fechar</span>
  </button>
  <h2 class="heading heading--small">Título da notificação de perigo!</h2>
  <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eaque accusantium temporibus error nam explicabo voluptate vero sint non est illo molestias consequatur libero dolorum, amet distinctio repudiandae officiis ab.</p>
</div>

<div class="notify notify--attention" role="alert">
  <span class="assistive-text">Notificação</span>
  <button class="button button--bare notify__close">
    <i class="icon-close button__icon button__icon--small" aria-hidden="true"></i>
    <span class="assistive-text">Fechar</span>
  </button>
  <h2 class="heading heading--small">Título da notificação de atenção!</h2>
  <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eaque accusantium temporibus error nam explicabo voluptate vero sint non est illo molestias consequatur libero dolorum, amet distinctio repudiandae officiis ab.</p>
</div>

<div class="notify notify--info" role="alert">
  <span class="assistive-text">Notificação</span>
  <button class="button button--bare notify__close">
    <i class="icon-close button__icon button__icon--small" aria-hidden="true"></i>
    <span class="assistive-text">Fechar</span>
  </button>
  <h2 class="heading heading--small">Título da notificação de informação!</h2>
  <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eaque accusantium temporibus error nam explicabo voluptate vero sint non est illo molestias consequatur libero dolorum, amet distinctio repudiandae officiis ab.</p>
</div>

<div class="notify notify--success" role="alert">
  <span class="assistive-text">Notificação</span>
  <button class="button button--bare notify__close">
    <i class="icon-close button__icon button__icon--small" aria-hidden="true"></i>
    <span class="assistive-text">Fechar</span>
  </button>
  <h2 class="heading heading--small">Título da notificação de sucesso!</h2>
  <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eaque accusantium temporibus error nam explicabo voluptate vero sint non est illo molestias consequatur libero dolorum, amet distinctio repudiandae officiis ab.</p>
</div>
